<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>contact us</title>
</head>
<body>
<button><a href="/">home</a></button>
<button><a href="about">about</a></button>
<button><a href="contact">contact</a></button>
<h1>Enter your info please</h1>
<form action="/action_page.php">
  <label for="fname">Email:</label><br>
  <input type="text" id="fname" name="fname" ><br>
  <label for="lname">Messeage:</label><br>
  <input type="text" id="lname" name="lname" ><br><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>